<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link itemprop="url" rel="stylesheet" href="/css/bar.css">
    <link itemprop="url" rel="stylesheet" href="/css/collections.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Document</title>

</head>

<body>

    <%- include ("partials/navbar.partials.ejs") %>
        <%- include ("partials/slider.patials.ejs") %>

            <!-- search bar 2-->

            <div class="modal_wraper">
                <div class="modal_container">
                    <!-- button 1 -->
                    <button class="close">&times;</button>
                    <input type="text" id="sear" value="" class="sear1" placeholder="Search for Dishes">
                </div>
            </div>

            <!-- search bar and radio button-->
            <div id="main-container" class="container">
                <div id="mainContentHeading">
                    <h1 class="heading">
                        Order Food Online in <span id="headingLocation">Fort
                        </span>
                    </h1>
                    <div class="filterbutton">
                        <button id="triger">
                            <img src="../images/searchIcon.svg" alt="" />
                            <span style="background-color: white;">Search for wraps</span>
                        </button>
                        <button>

                            <input type="radio" name="veg_nonVeg" value="nonVeg" id="nonVeg"
                                data-food="<%= JSON.stringify(foods.veg_NonVeg)%>" />
                            <label for="nonVeg" style="background-color: white;">Non-Veg Only</label>

                        </button>
                        <button>
                            <input type="radio" name="veg_nonVeg" value="veg" id="veg" onclick="handleVeg()" />
                            <label for="veg" style="background-color: white;">Veg Only</label>
                        </button>
                    </div>
                </div>
                <hr />
                <!-- Product fielter area-->

                <div id="mainProducts">

                    <div id="productCategory">
                        <ul id="Combo-category">

                            <%category.forEach(function(p){%>

                                <li>
                                    <a href="/collections/<%=p.id%>" id="Combo-categorys">
                                        <%=p.category_name%>
                                    </a>
                                </li>
                                <%});%>
                        </ul>
                    </div>
                    <!-- middle products list-->
                    <div id="productArea">
                        <%foods.forEach(function(p){ %>

                            <div id="prod">
                                <img src="<%=p.img_src%>" id="prodImage">
                                <p id="prodname">
                                    <%=p.food_name%>
                                </p>
                                <p id="pveg_nonVeg">
                                    <%=p.veg_NonVeg%>
                                </p>
                                <p id="prodPrice">₹
                                    <%=p.price%>
                                </p>
                                <div id="clear"></div>
                                <p id="proddescription">
                                    <%=p.description%>
                                </p>
                                <div id="clear"></div>
                                <p id="readMore">Read More</p>
                                <img src="../images/star.png" id="star" />
                                <button type="submit" id="button" data-p="<%= JSON.stringify(p)%>">Add</button>
                                <div id="clear"></div>
                                <p id="boughtTimes">
                                    <%=p.boughtTime%> bought this
                                </p>
                                <p id="Customisable">Customisable</p>
                            </div>
                            <%});%>
                    </div>
                    <!--check out page area-->
                    <div id="checkout">
                        <% if(cart.length==0){%>
                            <h2 style="font-size: 20px;color: rgb(51, 51, 51); font-family: 'Mulish', sans-serif;">Empty Cart
                            </h2>
                            <div class="emptyCart">
                                <img id="emptyCartImage" src="../images/emptyCart.svg" alt="empty cart" style="width:270px;margin:20px 2px 2px 20px" />
                                <p style="width:270px;margin:auto;text-align:center;  color: rgb(153, 153, 153);
                                              font-weight: 500;">Empty Cart is a sign of an empty stomach.</p>
                            </div>
                            <%} else {%>
                                <div id="cart_data_div"></div>
                                <%}%>
                    </div>
                </div>
            </div>
            <!---->

            <%- include ("partials/footer.partials.ejs") %>
</body>

</html>
<script src="../public/scripts/cart.script.js"></script>
<script src="/scripts/slider.js"></script>
<script src="/scripts/search.js"></script>
<!-- <script type='module' src="/scripts/collection.js"></script> -->