<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bar.css">
    <link rel="stylesheet" href="css/userSection.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <!-------------------Top Bar---------------------->
    <%- include ("partials/navbar.partials.ejs") %>
    <!-------------------login section details---------------------->
    <%- include ("partials/loginSection.partials.ejs") %>
    <!-------------------Link section details bar---------------------->
    <%- include ("partials/link.partials.ejs") %>

    
     <!-------------------Footer Area---------------------->
    <%- include ("partials/footer.partials.ejs") %>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bar.css">
    <link rel="stylesheet" href="css/userSection.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <!-------------------Top Bar---------------------->
<nav>
    <div id="navContainer">
        <div id="navLeft">
            <a href="./Collections">
                <img src="../images/top-navbar-logo.svg" alt="faasos logo" />
            </a>
            <div id="navLocation">
                <p>Mumbai</p>
                <p>Mumbai Maharashtra</p>
            </div>
        </div>
        <div id="navRight">
            <div id="userName">
                <li id="login" style="background-color: white;">Hi <%= name %>
                </li>
            </div>
            <!-------------------Side NAV BAR---------------------->
            <nav role='navigation'>
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="./Profile">
                            <div id="userNameinside">
                                <li id="logininside" style="background-color: white;">Hi <%= name %>
                                </li>
                            </div>
                            <li><img src="../images/sidebarProfile.svg" id="sidebarImg">Profile</li>
                            <a href="./order">
                                <li><img src="../images/sidebarLogout.svg" id="sidebarImg">Manage Orders</li>
                            </a>
                            <a href="./Address">
                                <li><img src="../images/sidebarAddress.svg" id="sidebarImg">Manage Address</li>
                            </a>
                            <a href="./payment">
                                <li><img src="../images/sidebarPayment.svg" id="sidebarImg">Manage Payments</li>
                            </a>
                            <a href="#">
                                <li><img src="../images/sidebarHelp.svg" id="sidebarImg">Help & Supports</li>
                            </a>
                            <a href="#">
                                <li><img src="../images/sidebarAbout.svg" id="sidebarImg">Aboust Us</li>
                            </a>
                            <a href="#">
                                <li><img src="../images/sidebarParty.svg" id="sidebarImg">Party Order</li>
                            </a>
                            <a href="./logout">
                                <li><img src="../images/sidebarLogout.svg" id="sidebarImg">Log Out</li>
                            </a>
                    </ul>
                </div>
            </nav>
        </div>
</nav>
    <!-------------------login section details---------------------->
<div id="mainhead">
    <div id="logoBox">
        <img class="logo" src="../images/logoicon.svg" />
    </div>
    <div id="theNames">
        <h3 id="theName">
            <%= name %>
        </h3>
        <p id="theNumber">
            <%= mobile %>
        </p>
        <p id="theEmail">
            <%= email %>
        </p>
    </div>
</div>
    <!-------------------Link section details bar---------------------->
    <%- include ("partials/link.partials.ejs") %>

    
     <!-------------------Footer Area---------------------->
    <%- include ("partials/footer.partials.ejs") %>
</body>
>>>>>>> 9d1424d7c80bea997549095da7607cba9137b3d2
</html>